<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weslei</title>
    <link rel="stylesheet" href="/assets/styles/main.css">
</head>
<body>
    <header>
        <nav>
            <ul id="menu">
                <li><img id="logo" src="/assets/img/LOGO_NAV_BAR.png" alt=""></li>
                <li>about</li>
                <li>portfolio</li>
                <li>contact</li>
            </ul>
            <ul id="languages">
                <li><img src="/assets/img/Brazil_flat[1].png" alt="pt-br"></li>
                <li><img src="/assets/img/united-states-of-america-usa[1].png" alt="en-us"></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="brand">
            <img src="/assets/img/TÃTULO.png" alt="Weslei">
            <h1>Weslei</h1>
            <h2>software & web development<br>systems analysis</h2>
        </section>
        <div class="cover"></div>
        <div class="cover2"></div>
    </main>
</body>
</html>