<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weslei</title>
    <link rel="stylesheet" href="/assets/styles/main.css">
</head>
<body>
    <header>
        <nav>
            <ul id="menu">
                <li>logo</li>
                <li>about</li>
                <li>portfolio</li>
                <li>contact</li>
            </ul>
            <ul id="language"> 
                <li>pt</li>
                <li>en</li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="brand">
            <div>
                <h1>Weslei</h1>
            </div>
            <h2>software & web development<br>systems analysis</h2>
        </section>
        <div class="cover2">
        </div>
        <div class="cover">
        </div>

    </main>
</body>
</html>