* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS Variables */
:root {
    --nav-neg-position: -3em;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*NAVIGATION*/
header {
    position: fixed;
    top: var(--nav-neg-position);
    z-index: 10;
    animation: menu .6s ease-in-out 2s 1 forwards;
}

nav {
    display: grid;
    grid-template-columns: 10fr 2fr;
    background-color: #2b2b2b;
    width: 100vw;
    line-height: 0;
    color: #f6f6f6;
    align-items: center;
    min-height: 5vh;
}

#menu {
    padding-left: 100px;
    grid-column: 1;
    list-style: none;
}

#menu > li {
    font-size: 0.8em;
    text-transform: uppercase;
    display: inline-block;
    padding-right: 30px;
    vertical-align: middle;
}

#logo{
    width: 30px;
}

#languages {
    justify-self: right;
    margin-right: 100px;
    grid-column: 2;
}

#languages>li {

    display: inline-block;
    text-align: right;
    padding-left: 5px;
    padding-right: 0;
}

#languages img {
    width: 25px;
}

/* end of navigation */

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #f6f6f6;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.brand {
    display: grid;
    grid-template-columns: 10fr 2fr;
    grid-template-rows: repeat(10, 1fr);
    height: 100vh;
    width: 50vw;
    z-index: 5;
    box-sizing: border-box;
}

.brand img {
    grid-row: 4;
    width: 100%
}

.brand h1 {
    /* display: inline-block;
    align-self: center;
    justify-self: right;
    padding-right: 35px;
    font-size: 8em;
    text-transform: uppercase;
    font-weight: bolder;
    color: #2b2b2b; */
    display: none;
 
}

.brand h2 {
    text-align: right;
    grid-column: 1;
    grid-row: 5;
    color: #f6f6f6;
    text-transform: uppercase;
    margin: 1em 0;
    font-weight: lighter;
}

.cover {
    position: absolute;
    z-index: 1;
    background-image: url('/assets/img/emile-perron-190221-unsplash-BG.png');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    /* filter: blur(10px) brightness(30%); */
    animation: coverResize2 .6s ease-in-out 2s 1 forwards;
}

.cover2 {
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-image: url('/assets/img/avi-richards-183715-unsplash-BG.png');
    /* filter: blur(1px) brightness(35%); */
    animation: coverResize .6s ease-in-out 2s 1 forwards;
    position: absolute;
    z-index: 3;
}


@keyframes coverResize {
    0% {
        left: 0;
        opacity: 1;
    }
    100% {
        left: -50vw;
        opacity: 0;
    }
}
@keyframes coverResize2 {
    0% {
        left: 0;
    }
    100% {
        left: -50vw;
        z-index: 4;
    }
}

@keyframes menu {
    100% {top: 0}
}